<div class="book-card p-3 mb-3 shadow-sm rounded">
    <div class="row align-items-center">
        <div class="col-md-2 col-4">
            <img src="{{ livro.url_capa }}" class="img-fluid rounded" alt="Capa">
        </div>
        <div class="col-md-10 col-8">
            <h5 class="fw-bold">{{ livro.titulo }}</h5>
            <p class="text-muted">{{ livro.autor }} • {{ livro.anoPublicacao }}</p>
            <div class="mb-2">
                {% for cat in livro.categorias %}
                    <span class="badge bg-light text-dark border">{{ cat }}</span>
                {% endfor %}
            </div>
            {% set status_colors = {
                'Disponível': 'bg-success',
                'Emprestado': 'bg-warning text-dark',
                'Em leitura': 'bg-info text-dark',
                'Desaparecido': 'bg-danger'
            } %}

            <span class="badge {{ status_colors.get(livro.status, 'bg-secondary') }}">
                {{ livro.status }}
            </span>
        </div>
    </div>
</div>
