<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de livro</title>
    <link rel="stylesheet" href="../static/style/style.css" />
  </head>
  <body>
    <div class="container">
        <h1>Cadastrar livro</h1>
        <form method="POST">
            <input type="text" name="titulo" placeholder="Título do livro" required>
            <input type="number" name="anoPublicacao" placeholder="Ano" min="0" max="{{ ano_atual }}" required>
            <input type="text" name="ISBN" placeholder="ISBN" required>

            <select name="status">
                <option>Disponível</option>
                <option>Em leitura</option>
                <option>Emprestado</option>
                <option>Desaparecido</option>
            </select>

            <select name="autor" required>
                {% for autor in autores %}<option>{{ autor }}</option>{% endfor %}
            </select>
            <select name="editora" required>
                {% for editora in editoras %}<option>{{ editora }}</option>{% endfor %}
            </select>
            <select name="acervo" required>
                {% for acervo in acervos %}<option>{{ acervo }}</option>{% endfor %}
            </select>
            <select name="categoria[]" multiple required class="form-control">
                {% for categoria in categorias %}<option>{{ categoria }}</option>{% endfor %}
            </select>

            <button type="submit">Cadastrar Livro</button>
        </form>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
  </body>
</html>
