<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Isso é um teste</title>
    <link rel="stylesheet" href="../static/style/style.css" />
  </head>
  <body>
    <div class="container">
      <main class="main-content">
        <h1>🚧 Em Construção 🚧</h1>
        <p>
          Um projeto pessoal focado no controle, organização e visualização de acervos e bibliotecas particulares de forma simples e intuitiva via web.
        </p>
      </main>
      <footer class="footer">
            <p>
              Esse projeto está sendo desenvolvido por
              <a
                href="https://github.com/Savio-S-Morais"
                target="_blank"
                rel="noopener noreferrer"
              >
                Sávio Morais
              </a>
            </p>
        </footer>
    </div>
  </body>
</html>
